.textArea{
    width: 100%;
    height: 200px;
    border: none;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: inherit;
}
.upLoadImageContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.upLoadImage{
    width: 100%;
    height: 100%;
}
.upLoadImageBox{
    width: 100px;
    height:100px;
    padding: 5px;
}